# LVGL配置
CONFIG_LV_MEM_CUSTOM=y
CONFIG_LV_MEM_CUSTOM_INCLUDE="stdlib.h"
CONFIG_LV_USE_STDLIB_MALLOC=y
CONFIG_LV_USE_STDLIB_STRING=y
CONFIG_LV_USE_STDLIB_SPRINTF=y
CONFIG_LV_TICK_CUSTOM=y
CONFIG_LV_TICK_CUSTOM_INCLUDE="esp_timer.h"
CONFIG_LV_TICK_CUSTOM_SYS_TIME_EXPR=(esp_timer_get_time() / 1000)

# PSRAM配置
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_LV_MEM_SIZE_KILOBYTES=64

# I2C配置
CONFIG_I2C_ISR_IN_IRAM=n

# FreeRTOS
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y